.NewColorForm {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to right,
    rgb(250, 85, 85),
    rgb(253, 180, 43),
    rgb(245, 245, 57),
    rgb(92, 247, 92),
    rgb(106, 246, 246),
    rgb(118, 118, 255),
    rgb(243, 157, 243)
  );
  align-items: center;
  justify-content: center;
}

.NewColorForm form {
  width: 60%;
  background-color: white;
  padding: 50px;
  border-radius: 12px;
}

.NewColorForm form div {
  padding: 15px;
}

.NewColorForm form input {
  margin: 0 10px;
}
